<%- include('./partials/header.ejs'); %>
<%- include('./partials/navbar.ejs'); %>
<script>
    const base64Url = '<%- data.file %>'
    console.log(base64Url)
    function toFile(){
     var win = window.open();
     win.document.write("<iframe width=100% height=100% src=" + base64Url + "></iframe>")
     }
</script>

    <h1 class="header"><%= data.title %>  </h1>
    <div class="main">
    <h3> <span>Subject: </span> <%= data.subject %>  </h3>
    <h3> <span>Due Date: </span><%= data.dueDate %>  </h3>
    <p> <span>Information: </span><%= data.description %>  </p>
    <% if(data.file)%>   <button class="button"onClick="toFile()"> Open File</button> 
</div>

<form id="form">
    <input type="file" id="file" name="file" required="true">
    <button type="submit" id="submit" class="button">Submit</button>
</form>


<style>
     body{
            background-color:rgb(13, 12, 12);
            color: #fff;
            font-family: 'Outfit', sans-serif;
            text-align:center;
            justify-content:center;
            align-items:center;
        }
        .header{
            color: #16e16e;
            font-size: 6rem;
            font-weight: 500;
            margin-top: 30px;
        }
        span{
            color: #16e16e;
            font-weight: 700;
        }
        .main h3, p, .main button{
            margin-top: 15px
        }
        .main{
            margin: 60px 100px;
        }
        .button{
            position:relative;
            padding: 10px 30px;
            margin: 0 15px;
            color: #16e16e;
            text-decoration: none;
            letter-spacing: 2px;
            font-size: 20px;
            transition: 0.5s;
            overflow: hidden;
            margin-right: 60px;
            margin-left: 60px;
            background-color:rgb(13, 12, 12);
            border:none
        }
        .button:hover{
            background: #16e16e;
            color: #191919;
            box-shadow: 0 0 50px #191919;
            transition: 0.s;
         }

        .button:before{
            content: '';
            position: absolute;
            top:0;
            left: 0;
            width: 10px;
            height: 10px;
            border-top: 2px solid #16e16e;
            border-left: 2px solid #16e16e;
            transition: 0.5s;
        }

        .button:hover:before{
            width: 100%;
            height:100%
        }

        .button:after{
            content: '';
            position: absolute;
            bottom:0;
            right: 0;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid #16e16e;
            border-right: 2px solid #16e16e;
            transition: 0.5s;
        }

        .button:hover:after{
            width: 100%;
            height:100%
        }
</style>


<script>
    const postRequest = (e)=>{
const id = '<%-data.id%>'
e.preventDefault();

const form = document.getElementById("form");
const fileInput = form.firstElementChild
  var reader = new FileReader();
    reader.readAsDataURL(fileInput.files[0]);
    reader.onload = function () {
        console.log(reader.result);
        const data = {
        file: reader.result
}
fetch("/assignments/"+ id +"/submit", {
        method: 'POST',
        headers:{
            'Content-Type':'application/json'
        },
        body: JSON.stringify(data),
    })
    .then(async (res) => {
        let response = await res.json()
        alert(response.message)
    })
    .catch((err) => console.log(err));
    };
    reader.onerror = function (error) {
    console.log('Error: ', error);
}
}

const btn = document.getElementById("submit")
btn.addEventListener('click', postRequest)
</script>

<%- include('./partials/footer.ejs'); %>

